<nav ng-controller="MainNavBar">
    <ul class="main-menu">
        <li ui-sref="projects.menu">projects</li>
        <!-- <li ui-sref="works">2D works</li> -->
        <li ui-sref="lab">in the lab</li>
        <li><a href="http://rawblades.tumblr.com/" target="_blank">blog</a></li>
        <li ui-sref="about">about</li>
        <li ui-sref="cv">cv</li>
        <li ui-sref="contact">contact</li>
        <!-- <li ui-sref="links">links</li> -->
    </ul>
    <span class="glyphicon glyphicon-menu-hamburger mobile-trigger"></span>
</nav>
